nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  nav li {
    float: left;
    border-right: 1px solid #bbb;
  }
  
  nav li:last-child {
    border-right: none;
  }
  
  nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  nav li a:hover:not(.active) {
    background-color: #111;
  }
  
  nav .active {
    background-color: #04AA6D;
  }
  
  /*---------------------------------------------------------------- Testings */

  .topInfo {
    display: flex;
    border: 1px solid black;
    flex-direction: row;
    align-items: center;
  }
  .topSidebar {
    display: flex;
    padding-right: 2%;
    border: 1px solid black;
    flex-grow: 1;
    justify-content: right;
  }
  .title {
    display: block;
    text-align: center;
    border: 1px solid black;
    padding: 5px;
    flex-grow: 1;
}
  .img_container {
    padding: 1%;
    flex-grow: 1;
  }

  .hoursTable {
    border: 1px solid black;
    padding: 10px;
    width: 10%;
  }
  .hoursTable th {
    padding-bottom: 5px;
  }